<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SysDatabase" providerName="MSSQL" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=RMS; User ID=rms; Password=rms" />
    <!-- <add name="SysDatabase" providerName="MYSQL" connectionString="Server=localhost; Port=3306; Database=ESBlite.v2; User ID=esblite; Password=esblite" /> -->
    <!-- <add name="SysDatabase" providerName="SQLITE" connectionString="Data Source=|DataDirectory|SysDatabase.db; Version=3; New=True; Password=" /> -->
    <!-- <add name="SysDatabase" providerName="SQLITE" connectionString="FullUri=file:SysDatabase.db?mode=memory%26cache=shared; Version=3; New=True;" />  -->
    <!-- <add name="[ksrms].SysDatabase" providerName="ORACLE" connectionString="Data Source=localhost:1521/XE; Validate Connection=true; User ID=system; Password=" /> -->
    <!-- <add name="[dbo].SysDatabase" providerName="ORACLE" connectionString="Data Source=192.168.1.4:1521/habar_1203.keysystems.local; Validate Connection=true; User ID=dbo; Password=obd" /> -->
  </connectionStrings>
  <appSettings>
    <add key=".Authorization.Required" value="true" />
    <add key=".Administrator" value="UserName=sysadmin; Password=; PasswordHash=-1058272838" />
    <add key=".Debug.Enabled" value="Yes" />
    <add key=".MessageBufferSize" value="4096" />
    <add key=".CheckInstanceID" value="False" />
    <add key=".LicenseFile" value="..\rms.lic" />
    <add key=".TempDir" value="App_Data\TEMP" />
    <add key=".AddinsDir" value="..\ADDINS" />
    <add key=".PluginsDir" value="..\PLUGINS" />
    <add key=".ToolsDir" value="..\TOOLS" />
    

    <add key="WinCrypto.LogLevel" value="Error" />
  </appSettings>
</configuration>