<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key=".Name" value="Тестовый MSSQL канал" />
    <add key=".VirtAddress" value="mssql@ymikheev" />
    <add key=".RealAddress" value="Data Source=.\SQLEXPRESS; Initial Catalog=EsbliteClient_v3.8; User ID=rms; Password=rms" />
    <add key=".SID" value="" />
    <add key=".Timeout" value="00:00:30" />
    <add key=".PasswordIn" value="" />
    <add key=".PasswordOut" value="" />
    <add key="DATABASE.SCHEMA" value="dbo"/>
    <add key="DATABASE.TIMEOUT" value="00:00:00" type="Time" format="{чч:мм:сс}" default="00:00:00" readonly="No" secret="No" comment="Таймаут подключения к БД"/>
    <add key="DATABASE.PING_SP" value="rms_Ping"/>
    <add key="DATABASE.PING_SP.ENABLED" value="Yes"/>
    <add key="DATABASE.REPAIR_SP" value="rms_Repair"/>
    <add key="DATABASE.REPAIR_SP.ENABLED" value="Yes"/>
    <add key="DATABASE.STATUS_SP" value="rms_MessageStatusChanged"/>
    <add key="DATABASE.STATUS_SP.ENABLED" value="Yes"/>
    <add key="DATABASE.RECEIVE_SP" value="rms_ReceiveMessage"/>
    <add key="DATABASE.RECEIVE_SP.ENABLED" value="Yes"/>
    <add key="DATABASE.RECEIVE_SP.OUTPUT" value="Yes"/>
    <add key="MESSAGE.DELETE.EXPIRED" value="No" />
    <add key="MESSAGE.DELETE.EXPIRED_DAYS" value="366" />
    <add key="MESSAGE.DELETE.EXPIRED_STATUSES" value="[COMPLETED, DELETED, ERROR]" />
    <add key="MESSAGE.DELETE.AFTER_SEND" value="No" />
    <add key="MESSAGE.DELETE.AFTER_RECEIVE" value="No" />
    <add key="MESSAGE.DELETE.DELETED" value="Yes" />
    <add key="MESSAGE.SCAN.ENABLED" value="Yes" />
    <add key="MESSAGE.SCAN.INTERVAL" value="00:00:10" />
    <add key="MESSAGE.SCAN.THREADS" value="1" />
    <add key="MESSAGE.SCAN.PORTION" value="1000" />
    <add key="MESSAGE.RELIABLE.ENABLED" value="No" />
    <add key="MESSAGE.RELIABLE.TIMEOUT" value="00:00:00" />
  </appSettings>
</configuration>
