<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key=".Provider" value="MSSQL" />
    <add key=".Type" value="MSSQL.Microservice.exe" />
    <add key=".Version" value="1.0.0.0" />
    <add key=".Comment" value="Канал БД" />
    <add key=".Icon" value="favicon.png" />
    <add key=".CanSyncContacts" value="Yes" />
    <add key=".AllowMultipleInstances" value="Yes" />
    <add key=".Name" value="Тестовый MSSQL канал" />
    <add key=".VirtAddress" value="mssql@ymikheev" />
    <add key=".RealAddress" value="Data Source=.\SQLEXPRESS; Initial Catalog=EsbliteClient_v3.8; User ID=rms; Password=rms" />
    <add key=".SID" value="http://localhost:5005" />
    <add key=".Timeout" value="00:00:30" />
    <add key=".PasswordIn" value="FD0CFC4A-3D0F-4EA8-B1D4-6FC306FCD73D" />
    <add key=".PasswordOut" value="" />
    
    <add key="X.BufferSize" value="4096" />
    <add key="X.Debug.Enabled" value="Yes" />
    <add key="X.Log.HttpRequest" value="No" />
    <add key="X.ProcessId" value="" />

    <add key="CHANNEL.AUTO_OPEN" value="No" />
    <add key="CHANNEL.AUTO_RUN" value="Yes" />
    <add key="CHANNEL.PING.ENABLED" value="Yes" />
    <add key="CHANNEL.PING.INTERVAL" value="00:01:00" />
    <add key="CHANNEL.LOG.LEVEL" value="ERROR" />
    <add key="CHANNEL.LOG.MAIL.ENABLED" value="No" />
    <add key="CHANNEL.LOG.MAIL.EMAIL" value="" />
    <add key="CHANNEL.LOG.JABBER.ENABLED" value="No" />
    <add key="CHANNEL.LOG.JABBER.ADDRESS" value="" />

    <add key="DATABASE.SCHEMA" value="dbo"/>
    <add key="DATABASE.TIMEOUT" value="00:00:00" type="Time" format="{чч:мм:сс}" default="00:00:00" readonly="No" secret="No" comment="Таймаут подключения к БД" />
    <add key="DATABASE.PING_SP" value="rms_Ping"/>
    <add key="DATABASE.PING_SP.ENABLED" value="Yes"/>
    <add key="DATABASE.REPAIR_SP" value="rms_Repair"/>
    <add key="DATABASE.REPAIR_SP.ENABLED" value="Yes"/>
    <add key="DATABASE.STATUS_SP" value="rms_MessageStatusChanged"/>
    <add key="DATABASE.STATUS_SP.ENABLED" value="Yes"/>
    <add key="DATABASE.RECEIVE_SP" value="rms_ReceiveMessage"/>
    <add key="DATABASE.RECEIVE_SP.ENABLED" value="Yes"/>
    <add key="DATABASE.RECEIVE_SP.OUTPUT" value="Yes"/>

    <add key="MESSAGE.DELETE.EXPIRED" value="No" />
    <add key="MESSAGE.DELETE.EXPIRED_DAYS" value="366" />
    <add key="MESSAGE.DELETE.EXPIRED_STATUSES" value="[COMPLETED, DELETED, ERROR]" />
    <add key="MESSAGE.DELETE.AFTER_SEND" value="No" />
    <add key="MESSAGE.DELETE.AFTER_RECEIVE" value="No" />
    <add key="MESSAGE.DELETE.DELETED" value="Yes" />
    <add key="MESSAGE.SCAN.ENABLED" value="Yes" />
    <add key="MESSAGE.SCAN.INTERVAL" value="00:00:10" />
    <add key="MESSAGE.SCAN.THREADS" value="1" />
    <add key="MESSAGE.SCAN.PORTION" value="100" />
    <add key="MESSAGE.RELIABLE.ENABLED" value="No" />
    <add key="MESSAGE.RELIABLE.TIMEOUT" value="00:00:00" />
  </appSettings>
</configuration>
